/* CSS HEX */
--raisin-black: #202030ff;
--english-violet: #39304aff;
--yellow-green: #85cb33ff;
--bondi-blue: #208aaeff;
--baby-powder: #f7f7f2ff;

/* CSS HSL */
--raisin-black: hsla(240, 20%, 16%, 1);
--english-violet: hsla(261, 21%, 24%, 1);
--yellow-green: hsla(88, 60%, 50%, 1);
--bondi-blue: hsla(195, 69%, 40%, 1);
--baby-powder: hsla(60, 24%, 96%, 1);

/* SCSS HEX */
$raisin-black: #202030ff;
$english-violet: #39304aff;
$yellow-green: #85cb33ff;
$bondi-blue: #208aaeff;
$baby-powder: #f7f7f2ff;

/* SCSS HSL */
$raisin-black: hsla(240, 20%, 16%, 1);
$english-violet: hsla(261, 21%, 24%, 1);
$yellow-green: hsla(88, 60%, 50%, 1);
$bondi-blue: hsla(195, 69%, 40%, 1);
$baby-powder: hsla(60, 24%, 96%, 1);

/* SCSS RGB */
$raisin-black: rgba(32, 32, 48, 1);
$english-violet: rgba(57, 48, 74, 1);
$yellow-green: rgba(133, 203, 51, 1);
$bondi-blue: rgba(32, 138, 174, 1);
$baby-powder: rgba(247, 247, 242, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #202030ff, #39304aff, #85cb33ff, #208aaeff, #f7f7f2ff);
$gradient-right: linear-gradient(90deg, #202030ff, #39304aff, #85cb33ff, #208aaeff, #f7f7f2ff);
$gradient-bottom: linear-gradient(180deg, #202030ff, #39304aff, #85cb33ff, #208aaeff, #f7f7f2ff);
$gradient-left: linear-gradient(270deg, #202030ff, #39304aff, #85cb33ff, #208aaeff, #f7f7f2ff);
$gradient-top-right: linear-gradient(45deg, #202030ff, #39304aff, #85cb33ff, #208aaeff, #f7f7f2ff);
$gradient-bottom-right: linear-gradient(135deg, #202030ff, #39304aff, #85cb33ff, #208aaeff, #f7f7f2ff);
$gradient-top-left: linear-gradient(225deg, #202030ff, #39304aff, #85cb33ff, #208aaeff, #f7f7f2ff);
$gradient-bottom-left: linear-gradient(315deg, #202030ff, #39304aff, #85cb33ff, #208aaeff, #f7f7f2ff);
$gradient-radial: radial-gradient(#202030ff, #39304aff, #85cb33ff, #208aaeff, #f7f7f2ff);