html {
  box-sizing: border-box;
  font-size: 62.5%; /* set default to 10px */
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}
body {
  background: #141414ff;
  color: rgb(200 230 240 / 1);
  margin: 0;
  font-family: 'Play', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0.075rem;
}
@media screen {
  body {
    text-shadow: 1px 1px 1px black;
  }
}
h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 3rem;
  line-height: 1;
}
h2 {
  font-size: 2.215rem;
}
h3 {
  font-size: 1.8rem;
}
em {
  font-style: normal;
  color: rgb(238 240 242 / 1);
}

/* links */
a {
  color: #2274a5ff;
}
a:hover {
  color: #aedcc0ff;
  text-decoration: none;
}
.btn {
  background: #2274a5ff;
  color: rgb(238 240 242 / 1);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: inline-block;
  width: fit-content;
  padding: 7px;
  letter-spacing: 0.1em;
  line-height: 1;
  border-radius: 4px;
}

.content-wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 900px;
}

.logo-wrapper {
  margin: 16px;
  margin-left: 64px;
  display: flex;
  flex-direction: column;
}
.logo-wrapper h2 {
  font-size: 1.6rem;
}

.navbar {
  display: flex;
  margin: 16px;
  margin-top: 0;
  margin-left: 52px;
  align-items: end;
}

.navlink {
  margin: 0 5px;
  background: none;
  font-size: 1.6rem;
  font-weight: bolder;
}

.kaomoji {
  white-space: nowrap;
}

/* RESUME
---------------------------------------*/
.info-page header {
  background: linear-gradient(133deg, rgba(2,0,36,1) 0%, rgba(5,5,51,1) 30%, rgba(0,90,108,1) 100%) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
}

.info-page {
  display: flex;
  flex-direction: column;
}

.info-page .content-wrapper {
  flex: 1 0 auto;
}


.resume-section {
  margin-bottom: 50px;
}

.resume-section h2 {
  border-bottom: 2px dashed #aedcc0ff;
}

.home-section {
  margin-bottom: 50px;
}

.home-section h2 {
  border-bottom: 2px dashed #aedcc0ff;
  padding-bottom: 10px;
  text-align: center;
}

.home-section {
  line-height: 1.8;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.6rem;
}

.download-link {
  position: flex;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.pdf-button-wrapper {
  all:unset;
  display: flex;
  justify-content: right;
  margin-bottom: -20px;
}


.gr-ani-bg {
  background-image: linear-gradient(135deg,
    #2274a5ff 0%, 
    #2274a5ff 20%, 
    #2274a5ff 45%,
    rgb(117, 204, 255) 50%,
    #2274a5ff 55%,
    #2274a5ff 80%,
    #2274a5ff 100%);
  background-size: 1200% 100%;
  animation: grRepeat 10s infinite reverse;
}

@keyframes grRepeat { 
    0%{background-position: 0 0}
    100%{background-position:100% 0%}
}

@media screen and (max-width:860px) {
  .logo-wrapper h1 {
    display: flex;
    align-self: center;
  }
  .info-page header {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .logo-wrapper {
    margin: 16px auto;
  }
  .logo-wrapper h2 {
    font-size: 1.6rem;
  }
  
  .navbar {
    display: flex;
    margin: 16px;
    margin-top: 0;
    margin-left: 52px;
    align-items: end;
  }
}

/* Projects
---------------------------------------*/
.project-links {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.project-item img {
  width: 300px;
  height: auto;
}

@media screen {
  .project-contents {
    display: flex;
    flex-direction: column;
  }
  .project-item {
    display: flex;
    margin: 20px 0;
  }
}

@media screen and (min-width:860px) {
  .project-item img {
    margin-right: 20px;
  }
}

@media screen and (max-width:859px) {
  .project-item img {
    margin-bottom: 10px;
    align-self: center;
    width: 500px;
  }
  .project-item {
    flex-direction: column;
  }
  .project-contents h3 {
    text-align: center;
  }
}

@media screen and (max-width:560px) {
  .project-item img {
    width: 100%;
    margin-bottom: 10px;
  }
}


/* Work Experience
---------------------------------------*/
.work-item {
  margin: 30px 0;
}
.work-details p {
  margin: 0;
}

@media screen and (min-width:860px) {
  .work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
  }

  .work-summary p:first-child {
    margin-top: 0;
  }
}


/* Education
---------------------------------------*/
.education-item {
  margin: 0;
  margin-top: 7px;
}
.education-item p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: inline;
  }

  .no-print {
    display: none;
    margin: 0;
    padding: 0;
  }

  .btn {
    display: none;
  }

  .pdf-button-wrapper {
    display: none;
  }

  img {
    display: none;
  }

  footer {
    display: none;
  }

  body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: #222222;
  }

  p,.resume-section,.project-item,.work-item {
    margin: 5px;
  }
  .resume-section {
    margin-top: 0.5rem;
  }

  h1, h2, h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h1,h2,h3 {
    margin: 0;
    font-weight: bold;
  }
  ul {
    margin: 0;
  }
  h1 {
    font-size: 1.8rem;
    line-height: 1;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p,li,a {
    font-size: 1.2rem;
  }
  a {
    color: #222222;
    text-decoration: none;
  }
  em {
    all:unset;
    color:#002222;
  }

  .info-page main.content-wrapper, .info-page header div.content-wrapper  {
    padding: 0;
  }

  .info-page header {
    justify-content: left;
  }
  .logo-wrapper {
    margin: 0;
  }
  .logo-wrapper h1 {
    font-size: 1.6rem;
    line-height: 1;
  }
  .logo-wrapper h2 {
    font-size: 1.2rem;
    color: rgba(0,0,0,0.5);
    line-height: 1;
  }
  .e-mail {
    font-size: 1.0rem;
    line-height: 1;
    display: block;
  }
}


/* FOOTER
---------------------------------------*/

footer {
  background: #020024;
}
.socials {
  list-style-type: none;
  padding: 0;
}

.socials li {
  display: inline-block;
  margin-left: 10px;
}
.socials img {
  width: 32px;
  height: auto;
}
.socials img:hover {
  opacity: 0.5;
}

@media screen and (min-width: 500px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    text-align: center;
    padding: 10px;
  }
}