/*
COLOR PALETTE

--raisin-black:   #202030ff;
--english-violet: #39304aff;
--yellow-green:   #85cb33ff;
--bondi-blue:     #208aaeff;
--baby-powder:    #f7f7f2ff;


--teal: #137F81ff;
--indigo: #450A84ff;
--sapphire: #1953C4ff;
--medium-blue: #321EBBff;
--federal-blue: #0E065Aff;
*/

/* GLOBAL STYLES
---------------------------------------*/

#palette {
  /* --sapphire: #1953c4ff;
  --teal: #137f81ff;
  --rose-quartz: #9a8c98ff;
  --antiflash-white: #eef0f2ff; */

  --night: #141414ff;
  --palatinate: #66295fff;
  --ucla-blue: #2274a5ff;
  --celadon: #aedcc0ff;
  --sapphire: #1953c4ff;
  --midnight-green: #005a6cff;
  --rose-quartz: #9a8c98ff;
  --oxford-blue: #020024ff;
  --antiflash-white: #eef0f2ff;
  --plum: #8A4F7Dff;

  --sapphire: rgb(25 83 196 / 1);
  --midnight-green: rgb(0 90 108 / 1);
  --rose-quartz: rgb(154 140 152 / 1);
  --oxford-blue: rgb(2 0 36 / 1);
  --antiflash-white: rgb(238 240 242 / 1);
  --plum: rgb(138 79 125 / 1);

  /* color: #137F81ff;
  color: #450A84ff;
  color: #1953C4ff;
  color: #321EBBff;
  color: #0E065Aff; */
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* set default to 10px */
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}
body {
  background: #141414ff;
  color: #eef0f2ff;
  margin: 0;
  font-family: 'Play', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0.075rem;
}
@media screen {
  body {
    text-shadow: 1px 1px 1px black;
  }
}
h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 6.23rem;
  line-height: 1;
}
h2 {
  font-size: 2.215rem;
}
h3 {
  font-size: 1.8rem;
}
em {
  font-style: normal;
  color: #005a6cff;
}

/* links */
a {
  color: #2274a5ff;
}
a:hover {
  color: #aedcc0ff;
  text-decoration: none;
}
/* footer a {
  color: #aedcc0ff;
}
footer a:hover {
  color: #2274a5ff;
} */
.btn {
  background: #2274a5ff;
  color: rgb(238 240 242 / 1);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: inline-block;
  padding: 7px;
  letter-spacing: 0.1em;
  line-height: 1;
  border-radius: 4px;
}

.content-wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 900px;
}


/* HOME
---------------------------------------*/
.home {
  /* background: rgb(2,0,36); */
  /* background: url(../images/purple-gradient.jpg) no-repeat; */
  /* background: repeating-linear-gradient(133deg, rgba(2,0,36,1) 0%, rgba(5,5,51,1) 30%, rgba(0,90,108,1) 100%); */
  background: rgb(2,0,36);
  background: repeating-linear-gradient(-3deg, rgba(2,0,36,1) 0%, rgb(0, 114, 149) 50%, rgba(2,0,36,1) 100%);
  /* background-size: cover; */
  display: flex;
  flex-direction: column;
}
.home .content-wrapper {
  flex: 1 0 auto;
}
.content-bg {
  background: rgb(2 0 36 / 0.4);
  padding: 30px;
}

@media screen and (max-width: 680px) {
  .home .content-wrapper {
    padding: 10px;
  }

  .content-bg {
    padding: 20px;
  }
}


/* RESUME
---------------------------------------*/
/* .resume header::before { */
.resume header {
  background: linear-gradient(133deg, rgba(2,0,36,1) 0%, rgba(5,5,51,1) 30%, rgba(0,90,108,1) 100%) no-repeat center;
  background-size: cover;
  /* content: ""; */
  /* display: block; */
  /* height: 375px; */
}
.resume-section {
  margin-bottom: 50px;
}

.resume-section h2 {
  border-bottom: 2px dashed #aedcc0ff;
}
.download-link {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .download-link {
    position: absolute;
  }
}

.pdf-button-wrapper {
  all:unset;
}

@media screen and (max-width:680px) {
  .download-link {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-left: 30px;
  }
  .pdf-button-wrapper {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: left;
  }
}

@media screen and (max-width: 500px) {
  .resume header::before {
    height:200px;
  }
  h1 {
    font-size: 4.2rem;
  }
  h2 {
    font-size: 1.47rem;
  }
}

/* Projects
---------------------------------------*/
.project-item {
  margin: 30px 0;
}
.project-item img {
  width: 300px;
  height: auto;
}
@media screen and (min-width:860px) {
  .project-item {
    display: flow-root;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }
}

@media screen and (min-width:680px) and (max-width:859px) {
  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  .project-item img {
    width: 100%;
  }
}

@media screen and (max-width:500px) {
  .project-item img {
    width: 100%;
    margin-bottom: 10px;
  }
}


/* Work Experience
---------------------------------------*/
.work-item {
  margin: 30px 0;
}
.work-details p {
  margin: 0;
}

@media screen and (min-width:860px) {
  .work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
  }

  .work-summary p:first-child {
    margin-top: 0;
  }
}


/* Education
---------------------------------------*/
.education-item {
  margin: 0;
  margin-top: 7px;
}
.education-item p {
  margin-top: 0px;
  margin-bottom: 0px;
}


.print-only {
  display: none;
}

@media print {
  .print-only {
    display: inline;
  }

  body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: #222222;
  }

  p,.resume-section,.project-item,.work-item {
    margin: 5px;
  }
  .resume-section {
    margin-top: 1.4rem;
  }

  h1, h2, h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h1,h2,h3 {
    margin: 0;
    font-weight: bold;
  }
  ul {
    margin: 0;
  }
  h1 {
    font-size: 1.8rem;
    line-height: 1;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p,li,a {
    font-size: 1.2rem;
  }
  a {
    color: #222222;
    text-decoration: none;
  }
  em {
    all:unset;
    /* font-style: italic; */
    color:#002222;
  }

  .resume main.content-wrapper, .resume header div.content-wrapper  {
    padding: 0;
  }
  
  .btn {
    display: none;
  }

  .pdf-button-wrapper {
    display: none;
  }

  img {
    display: none;
  }

  footer {
    display: none;
  }
}



/* FOOTER
---------------------------------------*/

footer {
  /* background: #1D7874;
  background: rgb(138 79 125 / 1);
  background: rgb(102 41 95 / 0.5);
  background: rgb(0 90 108 / 1); */
  background: #020024;
  /* color: rgb(2 0 36 / 1); */
}
.socials {
  list-style-type: none;
  padding: 0;
}
.e-mail:before {
  content: attr(data-website) "\0040" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

.socials li {
  display: inline-block;
  margin-left: 10px;
}
.socials img {
  width: 32px;
  height: auto;
}
.socials img:hover {
  opacity: 0.5;
}

@media screen and (min-width: 500px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    text-align: center;
    padding: 10px;
  }
}